@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Thin.woff2"), format("woff2");

    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ThinItalic.woff2"), format("woff2");

    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.woff2"), format("woff2");

    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLightItalic.woff2"), format("woff2");

    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Light.woff2"), format("woff2");

    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-LightItalic.woff2"), format("woff2");

    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff2"), format("woff2");

    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Italic.woff2"), format("woff2");

    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.woff2"), format("woff2");

    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-MediumItalic.woff2"), format("woff2");
    
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.woff2"), format("woff2");

    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBoldItalic.woff2"), format("woff2");

    font-weight: 600;
    font-style: italic;    
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.woff2"), format("woff2");

    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-BoldItalic.woff2"), format("woff2");

    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraBold.woff2"), format("woff2");

    font-weight: 800;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraBoldItalic.woff2"), format("woff2");

    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Black.woff2"), format("woff2");

    font-weight: 900;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-BlackItalic.woff2"), format("woff2");

    font-weight: 900;
    font-style: italic;
}