* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 95%);
}

.header {
    background-color: hsl(0, 0%, 5%);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 50%;
    margin: 50px auto 0 auto;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 20px;
}

.header__title {
    padding: 20px 10px;
}

.main {
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 10px auto 0 auto;
}

.card {
    width: 50%;
    height: 500px;
    background-color: hsl(0, 0%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 20px;
}

.card__image {
    width: 250px;
    height: 250px; 
    border-radius: 50%;
    margin: 20px 0;
}

.card__title-container {
    width: 100%;
    height: 150px;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

.card__title {
    margin: auto;
    font-size: 20px;
}

.card__link {
    border: 1px solid hsl(60, 100%, 50%);
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 15px;
    color: hsl(60, 100%, 50%);
    text-decoration: none;

    &:hover {
        background-color: hsl(60, 100%, 30%);
        color: hsl(0, 0%, 95%);
        border-color: hsl(60, 100%, 30%);
    }
}